@use '../../common/styles/vars' as var

.calendar 
    display: flex
    justify-content: center
    align-items: stretch
    max-width: 800px
    min-width: 300px
    width: 100%
  
.leftPanel 
    background-color: var.$bg-color
    color: white
    display: flex
    flex-direction: column
    justify-content: space-evenly
    text-align: center
    padding: 20px 20px
    h2 
        font-size: 22px
        color: rgba(255, 255, 255, 0.747)
        font-weight: 100
    .date 
        font-size: 120px
        font-weight: 300

.rightPanel 
    background-color: white
    color: grey
    padding: 40px 30px
    display: flex
    flex-direction: column
    h3 
        text-align: center
        color: var.$main-color
        font-size: 24px
        font-weight: bold
        margin-bottom: 20px

.calendarGrid 
    width: 100%
    border-collapse: collapse
    th 
        font-size: 18px
        font-weight: bold
        color: var.$highlight
        text-align: center
    td 
        width: 40px
        height: 40px
        font-size: 18px
        text-align: center

.highlight
    time
        display: inline-block
        background-color: var.$highlight
        color: white
        font-weight: bold
        border-radius: 50%
        width: 30px
        height: 30px
        line-height: 30px



